@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto;
}

.container {
  max-width: 1300px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.row {
  margin-left: -15px;
  margin-right: -15px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
}

.col-auto {
  width: auto;
}

.col-1 {
  width: 8.333333%;
}
.col-2 {
  width: 16.666667%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.333333%;
}
.col-5 {
  width: 41.666667%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.333333%;
}
.col-8 {
  width: 66.666667%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.333333%;
}
.col-11 {
  width: 91.666667%;
}
.col-12 {
  width: 100%;
}

/* _________________HEADER___________________*/

header {
  padding: 16px 0;
  border-bottom: 1px solid #dde1e6;

  .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav-bar {
    ul {
      display: flex;
      gap: 16px;
      align-items: center;
    }

    li {
      padding: 0 8px;

      a {
        color: #455a6499;
        font-size: 16px;
        font-weight: 500;
      }

      &.home a {
        color: #455a64;
      }
    }

    span svg {
      vertical-align: middle;
    }

    .dropdown {
      position: relative;

      span {
        color: #455a6499;
        font-weight: 500;
        display: flex;
        align-items: center;
        cursor: pointer;
      }

      .drop-list {
        position: absolute;
        top: 130%;
        left: 0;
        min-width: 135px;
        min-height: 126px;
        border-radius: 8px;
        background-color: #fff;
        box-shadow: 2px 0px 10px 0px rgba(0, 0, 0, 0.25);
        visibility: hidden;
        opacity: 0;
        transition: all 1s;

        li {
          padding: 10px;
          border-bottom: 1px solid #dedede;

          a {
            text-align: left;
            color: #000;
            font-size: 16px;
            font-weight: 400;
          }

          &:last-child {
            border-bottom: none;
          }
        }
      }

      &:hover + .drop-list {
        visibility: visible;
        opacity: 1;
      }
    }
  }

  .nav-btns {
    display: flex;
    gap: 16px;

    .login-btn {
      border: 1px solid #455a64;
      padding: 16px 28px;
      color: #455a64;
      font-size: 16px;
      font-weight: 500;
      letter-spacing: 0.5px;

      &:hover {
        background-color: #455a64;
        color: #fff;
      }
    }

    .signup-btn {
      background: #455a64;
      padding: 16px 28px;
      font-size: 16px;
      font-weight: 500;
      letter-spacing: 0.5px;
      color: #fff;
      border: 1px solid #455a64;

      &:hover {
        background-color: #fff;
        color: #455a64;
      }
    }
  }
}

/* _________________ H E R O S E C T I O N ________________*/

.hero-section {
  padding: 32px 0;

  .row {
    display: flex;
  }

  .hero-img {
    img {
      width: 100%;
    }
  }

  .hero-content {
    h1 {
      color: #21272a;
      font-size: 54px;
      font-weight: 700;
      line-height: 1.1em;
    }

    p {
      color: #21272a;
      font-size: 18px;
      font-weight: 400;
      line-height: 1.4em;
      padding: 24px 0 56px 0;
    }
  }

  .buy-btn,
  .rent-btn {
    padding: 16px 72px;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.5px;
    border: none;

    &.buy-btn {
      background-color: #455a64;
      color: #fff;
    }

    &.rent-btn {
      background-color: rgba(223, 217, 217, 0.8);
      color: rgba(11, 11, 11, 0.7);
      margin: -4px;
    }
  }
}

/*_______________________A B O U T U S S E C T I O N________________________*/

.aboutus-section {
  margin: 80px 0;

  .text-group {
    text-align: center;

    h2 {
      color: #21272a;
      font-weight: 700;
      font-size: 42px;
      line-height: 1.1em;
    }

    p {
      color: #21272a;
      font-size: 18px;
      font-weight: 400;
      line-height: 1.4em;
      padding: 20px 0 32px 0;
    }
  }

  .row {
    display: flex;
    gap: 24px;
  }

  li {
    display: flex;
    gap: 16px;
    padding: 16px;
    border: 1px solid #dde1e6;
    align-items: center;

    .text {
      h4 {
        color: #21272a;
        font-size: 24px;
        font-weight: 700;
        line-height: 1.1em;
      }

      p {
        color: #697077;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.4em;
      }
    }
  }
}

/*__________________________SP-S E C T I O N_________________________*/

.sp-section {
  padding: 80px 0;
  background-color: #f2f4f8;

  .text-group {
    text-align: center;

    h2 {
      font-size: 20px;
      font-weight: 700;
      color: #313131;
      letter-spacing: 1px;
      text-transform: uppercase;
      padding-bottom: 8px;
    }

    p {
      color: #21272a;
      font-size: 42px;
      font-weight: 700;
      line-height: 1.1em;
    }
  }

  .row {
    display: flex;
    padding: 32px 0;
    gap: 16px;
  }

  .col-4 {
    background-color: #fff;
    border: 1px solid #dde1e6;
    padding: 24px;
  }

  .item {
    text-align: center;

    p {
      color: #21272a;
      font-size: 18px;
      font-weight: 400;
      line-height: 1.4em;
      margin: 16px 0 32px 0;
    }

    .cont-group {
      h4 {
        color: #21272a;
        font-size: 24px;
        font-weight: 700;
        line-height: 1.1em;
        margin-top: 16px;
      }

      p {
        color: #21272a;
        font-size: 18px;
        font-weight: 400;
        line-height: 1.4em;
      }
    }
  }
}

/*______________________Recently Added____________________*/
.added-section {
  .textgroup {
    display: flex;
    margin: 32px 0;

    h3 {
      color: #455a64;
      font-size: 32px;
      font-weight: 700;
      line-height: 1.1em;
    }

    a {
      margin-left: auto;
      color: #455a64;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.1em;
    }

    svg {
      vertical-align: middle;
    }
  }

  .row {
    display: flex;
    flex-wrap: wrap;
  }

  .item {
    display: flex;
    flex-direction: column;

    h3 {
      color: #000;
      font-weight: 700;
      font-size: 20px;
      line-height: 1.1em;
      margin: 16px 0 8px 0;
    }

    p {
      color: #000;
      font-size: 14px;
      font-weight: 400;
      line-height: 1.1em;
      margin-bottom: 24px;
    }

    .living-area {
      display: flex;
      justify-content: space-between;

      h4 {
        color: #455a64;
        font-size: 20px;
        font-weight: 700;
        line-height: 1.1em;
      }

      p {
        color: #000;
        font-size: 18px;
        font-weight: 400;
        line-height: 1.1em;

        span {
          color: #bebfbf;
          margin-left: 2px;
        }
      }
    }

    .btn-buy {
      display: block;
      border: 1px solid #455a64;
      padding: 16px 0;
      text-align: center;
      color: #455a64;
      font-size: 18px;
      font-weight: 700;
      line-height: 1.1em;
      transition: background-color 0.5s;

      &:hover {
        background-color: #455a64;
        color: #fff;
      }
    }

    .btn {
      margin: 24px 0 16px;
    }
  }
}

/*___________________contact us__________________*/
.contactus-section {
  margin: 54px 0 32px;

  h2 {
    color: #313131;
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  p {
    color: #21272a;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.1em;
    margin: 8px 0 32px;
  }

  .btn {
    display: flex;
    gap: 16px;

    .btn-contact {
      border: 2px solid #455a64;
      background: #455a64;
      text-align: center;
      padding: 16px;
      letter-spacing: 0.5px;
      color: #fff;
      font-size: 20px;
      font-weight: 500;
      transition: background-color 0.5s;

      &:hover {
        background-color: #fff;
        color: #455a64;
      }
    }

    .btn-readmore {
      border: 2px solid #455a64;
      background: #fff;
      text-align: center;
      padding: 16px;
      letter-spacing: 0.5px;
      color: #455a64;
      font-size: 20px;
      font-weight: 500;
      transition: background-color 0.5s;

      &:hover {
        background-color: #455a64;
        color: #fff;
      }
    }
  }
}

/*________________________S U B S C R I B E______________________*/
.subscribe-section {
  margin: 80px 0;

  .row {
    display: flex;
    gap: 80px;
  }

  h2 {
    color: #21272a;
    font-size: 42px;
    font-weight: 700;
    line-height: 1.1em;
    margin-bottom: 12px;
  }

  p {
    color: #21272a;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.4em;
  }

  form {
    text-align: end;

    input {
      padding: 16px 100px 16px 16px;
      font-size: 20px;
      font-weight: 400;
      letter-spacing: 0.5px;
      color: #455a64;
    }

    button {
      padding: 16px;
      text-align: center;
      color: #fff;
      background-color: #455a64;
      letter-spacing: 0.5px;
      font-size: 20px;
      font-weight: 500;
      cursor: pointer;
      transition: background-color 0.5s;
      margin-left: 16px;

      &:hover {
        background-color: #fff;
        color: #455a64;
      }
    }
  }
}

/*____________________________footer_______________________*/
footer {
  background-color: #455a64;
  padding: 24px 0 48px;

  .row {
    display: flex;
    justify-content: space-between;
  }

  .footer-nav {
    ul {
      display: flex;
      gap: 16px;

      a {
        color: #fff;
        font-size: 16px;
        font-weight: 500;
      }
    }
  }

  .icon {
    ul {
      display: flex;
      gap: 16px;
    }
  }

  .bottom-footer {
    color: #fff;
    text-align: center;
    margin-top: 48px;
  }
}
